.pdb,
.dll,
OpenMarket.Api.Application/bin/Debug/netstandard2.1/OpenMarket.Api.Application.dll
OpenMarket.Api.Application/bin/Debug/netstandard2.1/OpenMarket.Api.Application.dll
OpenMarket.Api.Application/bin/Debug/netstandard2.1/OpenMarket.Api.Application.pdb
OpenMarket.Api.Application/bin/Debug/netstandard2.1/OpenMarket.Api.Domain.dll
OpenMarket.Api.Application/bin/Debug/netstandard2.1/OpenMarket.Api.Domain.pdb
OpenMarket.Api.Application/obj/Debug/netstandard2.1/OpenMarket.Api.Application.csprojAssemblyReference.cache
OpenMarket.Api.Application/obj/Debug/netstandard2.1/OpenMarket.Api.Application.dll
OpenMarket.Api.Application/obj/Debug/netstandard2.1/OpenMarket.Api.Application.pdb
OpenMarket.Api.Domain/bin/Debug/netstandard2.1/OpenMarket.Api.Domain.dll
OpenMarket.Api.Domain/bin/Debug/netstandard2.1/OpenMarket.Api.Domain.pdb
OpenMarket.Api.Domain/obj/Debug/netstandard2.1/OpenMarket.Api.Domain.csprojAssemblyReference.cache
OpenMarket.Api.Domain/obj/Debug/netstandard2.1/OpenMarket.Api.Domain.dll
OpenMarket.Api.Domain/obj/Debug/netstandard2.1/OpenMarket.Api.Domain.pdb
OpenMarket.Api.Infrastructure.Identity/bin/Debug/netcoreapp3.1/OpenMarket.Api.Application.dll
OpenMarket.Api.Infrastructure.Identity/bin/Debug/netcoreapp3.1/OpenMarket.Api.Application.pdb
OpenMarket.Api.Infrastructure.Identity/bin/Debug/netcoreapp3.1/OpenMarket.Api.Domain.dll
OpenMarket.Api.Infrastructure.Identity/bin/Debug/netcoreapp3.1/OpenMarket.Api.Domain.pdb
OpenMarket.Api.Infrastructure.Identity/bin/Debug/netcoreapp3.1/OpenMarket.Api.Infrastructure.Identity.dll
OpenMarket.Api.Infrastructure.Identity/bin/Debug/netcoreapp3.1/OpenMarket.Api.Infrastructure.Identity.pdb
*.v2
